export("riley")
export("uvmeta")
export("pmmeta")
export("pm")
export("validation")

import("ellipse")
import("rjags")
import("coda")
import("pROC")
import("mvtnorm")
import("bbmle")
import("survival")

#Riley methods
S3method(print, riley)
S3method(summary, riley)
S3method(print, summary.riley)
S3method(vcov, riley)
S3method(logLik, riley)
S3method(plot, riley)
S3method(riley, default)

##validation methods
S3method(validation, default)
S3method(print, validation)
S3method(plot, validation)

## Basic methods
S3method(pm, default)
S3method(adjust, pm)

#uvmeta methods
S3method(print, uvmeta)
S3method(plot, uvmeta)
S3method(summary, uvmeta)
S3method(uvmeta, default)

#pmmeta methods

